<div class="ui two column centered grid">
  <div class="column">
    <div class="ui segment form">
      <h2 class="ui dividing header">
        <i class="download icon"></i>
        <div class="content">
          {{t "wizard.header"}}
          <div class="sub header">{{t "wizard.description"}}</div>
        </div>
      </h2>

      <form class="ui form">
        <h4>{{t "wizard.privacyNoteTitle"}}</h4>
        <p>{{t "wizard.privacyNote"}}</p>
        <div class="field">
          {{ui-checkbox class="toggle" checked=read label=(t "wizard.privacyAgree") }}

        </div>
        <br>
      </form>

      <div class="ui two cards">
        <div class="card">
          <div class="content">
            <div class="header">{{t "wizard.defaultConfigHeader"}}</div>
            <div class="description">
              {{t "wizard.defaultConfigDescription"}}
            </div>
          </div>
          <button class="ui primary bottom attached button"
                  {{action "selectDefaultConfig"}} disabled={{unread}} >
            {{t "wizard.defaultBtn"}}
          </button>
        </div>
        <div class="card">
          <div class="content">
            <div class="header">{{t "wizard.fileConfigHeader"}}</div>
            <div class="description">
              {{t "wizard.fileConfigDescription"}}
            </div>
          </div>
          {{#rose-file-picker fileLoaded="fileLoaded"
                          dropzone=false
                          preview=false
                          readAs="readAsText"
                          class="ui bottom attached primary button"
                          isEnabled=read}}
            <i class="add icon"></i>
            {{t "wizard.fileConfigBtn"}}
          {{/rose-file-picker}}
        </div>
      </div>


        <h4>{{t "wizard.overlayNoteTitle"}}</h4>
        <p>{{t "wizard.overlayNote"}}</p>

        <div class="ui stackable two column grid">
          <div class="column">
            <img class="ui fluid bordered image" src="/icons/Screenshot-CommentRibbon.png">
          </div>
          <div class="column">
            <img class="ui fluid bordered image" src="/icons/Screenshot-Sidebar.png">
          </div>
        </div>

    </div>
  </div>
</div>
