<h3 class="ui header">
    <i class="info letter icon"></i>
    <div class="content">
        {{I18n "about"}}
        <div class="sub header">{{I18n 'aboutPage.subHeader'}}.</div>
    </div>
</h3>
<div class="ui basic segment">
    <p>{{I18n 'aboutPage.infoText'}}</p>
    <div class="ui divider"></div>
    ROSE {{I18n 'developedBy'}}

    <p>Oliver Hoffmann {{I18n 'and'}} Sebastian Ruhleder</p>

    <div class="ui basic segment">
    {{I18n 'sitAddress'}}
    </div>
    <p>{{I18n 'aboutPage.furtherQuestions'}}</p>
    <div class="ui divider"></div>
    <div class="ui basic vertical disabled segment">
        This program is free software;you can redistribute it and/or modify it under the terms of the GNU General Public License version as published by the Free Software Foundation;either version 3 of the License, or (at your option) any later version. </p>
    </div>
</div>
