<h3 class="ui header">
    <i class="download disk icon"></i>
    <div class="content">
        {{I18n 'backup'}}
        <div class="sub header">{{I18n 'backupPage.subHeader'}}.</div>
    </div>
</h3>
<div class="ui form">
    <div {{bind-attr class=":field isEmptyOrValid::error"}}>
        {{textarea valueBinding='textfield'}}
    </div>
    <div class="fluid ui positive icon labeled right button" {{action 'backup'}}>{{I18n 'backup'}}<i class="download disk icon"></i></div>
    <div class="ui horizontal divider">
        {{I18n 'or'}}
    </div>
    {{#if isEmpty}}
    <div class="fluid ui icon labled right button disabled">
        {{I18n 'restore'}}
        <i class="black upload disk icon"></i>
    </div>
    {{else}}
    <div {{bind-attr class=':fluid :ui: :icon :labled :right :button isValid::disabled'}} {{action 'restore'}}>
        {{I18n 'restore'}}
        <i class="black upload disk icon"></i>
    </div>
    {{/if}}
</div>
