<div class="ui styled wide floating sidebar">
    <div class="ui inverted dimmer">
      <div class="ui text loader">{{I18n 'loading'}}</div>
    </div>
    <h3 class="ui header">{{I18n 'comment'}}</h3>
    <div class="ui form">
        <div class="field">
            <textarea></textarea>
        </div>
        <div class="two fluid ui buttons">
            <div class="ui cancel button">{{I18n 'cancel'}}</div>
            <div class="or"></div>
            <div class="ui positive save button">{{I18n 'save'}}</div>
        </div>
    </div>
    <div class="ui divider"></div>
    <h3 class="ui header">Rating</h3>
    <div class="ui divided list">
        <div class="item">
            <div class="content">
                <div class="header">
                    {{I18n 'sidebar.rating1'}}?
                </div>
                <div class="ui star rating right">
                    <i class="icon"></i>
                    <i class="icon"></i>
                    <i class="icon"></i>
                    <i class="icon"></i>
                    <i class="icon"></i>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="header">
                    {{I18n 'sidebar.rating2'}}?
                </div>
                <div class="ui star rating right">
                    <i class="icon"></i>
                    <i class="icon"></i>
                    <i class="icon"></i>
                    <i class="icon"></i>
                    <i class="icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>
