<div class="ui wide vertical sidebar menu left">
    <div class="ui form item">
        <p>{{I18n 'sidebar.infoText'}}</p>
        <div class="field">
            <label>{{I18n 'comment'}}</label>
            <textarea></textarea>
        </div>
        <div class="two fluid ui buttons">
            <div class="ui cancel button">{{I18n 'cancel'}}</div>
            <div class="or"></div>
            <div class="ui positive save button">{{I18n 'save'}}</div>
        </div>
    </div>
    <div class="ui item">
        <h4 class="ui header">Rating</h4>
        <div class="ui list">
            <div class="item">
                <div class="content">
                    <div class="description">
                        {{I18n 'sidebar.ratingEntertain'}}?
                    </div>
                    <div class="ui huge star rating" data-max-rating="5"></div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="description">
                        {{I18n 'sidebar.ratingAppropriate'}}?
                    </div>
                    <div class="ui huge star rating" data-max-rating="5"></div>
                </div>
            </div>
        </div>
    </div>
</div>
