<div class="ui wide vertical sidebar menu left">
    <div class="ui item">
        <h4 class="ui header">Rating</h4>
        <div class="ui list">
            <div class="item">
                <div class="content">
                    <div class="description">
                        {{I18n 'sidebar.ratingConcentration'}}?
                    </div>
                    <div class="ui huge star rating" data-max-rating="9"></div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="description">
                        {{I18n 'sidebar.ratingInteresting'}}?
                    </div>
                    <div class="ui huge star rating" data-max-rating="9"></div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="description">
                        {{I18n 'sidebar.ratingEnjoy'}}?
                    </div>
                    <div class="ui huge star rating" data-max-rating="9"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui form item">
        <div class="field">
            <label>{{I18n 'sidebar.questionNotice'}}</label>
            <textarea></textarea>
        </div>
    </div>
    <div class="ui form item">
        <div class="field">
            <label>{{I18n 'sidebar.questionQuality'}}</label>
            <textarea></textarea>
        </div>
    </div>
    <div class="item">
        <div class="ui positive fluid save button">{{I18n 'done'}}</div>
    </div>
</div>


