<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui header">
      {{I18n 'surveyDisengage.title'}}
    </h2>
    <form class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
                <div class="description">{{I18n 'surveyDisengage.infoText'}}</div>
        </div>
        <div class="field">
                <div class="description">
                    {{I18n 'surveyDisengage.ratingAwareness'}}
                </div>
                <div class="ui large star rating" data-max-rating="5"></div>
        </div>
        <div class="field">
                <div class="description">
                    {{I18n 'surveyDisengage.ratingActivities'}}
                </div>
                <div class="ui large star rating" data-max-rating="5"></div>
        </div>
        <div class="field">
            <div class="ui cancel button">{{I18n 'surveyDisengage.dismiss'}}</div>
            <div class="ui primary approve button">
              {{I18n 'surveyDisengage.save'}}
              <i class="right chevron icon"></i>
            </div>
        </div>
      </div>
    </form>

  </div>
</div>
