<div class="ui pagination menu">
    {{#if canStepBackward}}
        <a class="icon item" {{action "incrementPage" -1}}>
            <i class="left arrow icon"></i>
        </a>
    {{else}}
        <a class="icon item disabled">
            <i class="left arrow icon"></i>
        </a>
    {{/if}}

    {{#each pageItems as |item|}}
        {{#if item.dots}}
            <div class="disabled item">...</div>
        {{/if}}
        {{#if item.current}}
            {{#link-to (query-params page=item.page) class="item active"}}
                {{item.page}}
            {{/link-to}}
        {{else}}
            {{#link-to (query-params page=item.page) class="item"}}
                {{item.page}}
            {{/link-to}}
        {{/if}}
    {{/each}}

    {{#if canStepForward}}
    <a class="icon item" {{action "incrementPage" 1}}>
        <i class="right arrow icon"></i>
    </a>
    {{else}}
    <a class="icon item disabled">
        <i class="right arrow icon"></i>
    </a>
    {{/if}}
</div>
