<a class="avatar">
  <i class="circular comment icon"></i>
</a>
<div class="content">
  <a class="author">{{t "comments.you"}}</a> {{t "comments.commentedOn"}}
    {{#if (eq model.type "post")}}
      <strong>posting: {{model.contentId}}</strong>
    {{else}}
      <strong>{{model.type}}</strong>
    {{/if}}
  <div class="metadata">
    <span class="date">{{moment-format model.createdAt}}</span>
    {{#each model.rating as |value|}}
    <div class="rating">
      <i class="star icon"></i>
      {{value}}
    </div>
    {{/each}}
  </div>
  <div class="text">
  {{#liquid-if isEditable}}
    <div class="ui form">
      {{textarea value=model.text}}
    </div>
  {{else}}
    {{#if model.text}}
    <div class="ui segment"><pre>{{model.text}}</pre></div>
    {{/if}}
  {{/liquid-if}}
  {{#if (eq model.type "post")}}
  Viewport: <strong>{{viewport}}</strong> - Interested: <strong>{{interested}}</strong>
  {{/if}}
  {{#if (eq model.type "engage")}}
  Previous activity: <strong>{{previousActivity}}</strong>
  {{/if}}
  </div>
  <div class="actions">
  {{#if isEditable}}
    <a {{action "save"}}>
      {{t "action.save"}}
    </a>
    <a {{action "cancel"}}>
      {{t "action.cancel"}}
    </a>
  {{else}}
    <a {{action "edit"}}>
      {{t "action.edit"}}
    </a>
  {{/if}}
  {{#if model.isPrivate}}
    <a {{action "unhide"}}>
      {{t "action.unhide"}}
    </a>
  {{else}}
    <a {{action "hide"}}>
      {{t "action.hide"}}
    </a>
  {{/if}}
    <a {{action "delete"}}>
      {{t "action.delete"}}
    </a>
  </div>
</div>
