<div class="container">
    <div class="ui page grid">
        <div class="fluid five wide column">
            <div class="ui red fluid vertical small menu">
                <div class="header item">
                    <i class="home icon"></i>
                    ROSE
                </div>
                {{#link-to 'diary' classNames='item'}}
                {{I18n 'diary'}}<i class="book icon"></i>
                {{/link-to}}
                {{#link-to 'backup' classNames='item'}}
                {{I18n 'backup'}}<i class="download disk icon"></i>
                {{/link-to}}
                {{#link-to 'settings' classNames='item'}}
                {{I18n 'settings'}}<i class="settings icon"></i>
                {{/link-to}}
                <div class="header item">
                    <i class="user icon"></i>
                    {{I18n 'networks'}}
                </div>
                <div class="item">
                    Facebook
                    <i class="facebook icon"></i>
                    <div class="menu">
                        {{#link-to 'facebook.interactions' classNames='item'}}
                        {{I18n 'interactions'}}
                        {{/link-to}}
                        {{#link-to 'facebook.comments' classNames='item'}}
                        {{I18n "comments"}}
                        {{/link-to}}
                        {{#link-to 'facebook.privacy' classNames='item'}}
                        {{I18n 'privacy-settings'}}
                        {{/link-to}}
                    </div>
                </div>
                <div class="item">
                    Google+
                    <i class="google plus icon"></i>
                    <div class="menu">
                        {{#link-to 'google.interactions' classNames='item'}}
                        {{I18n 'interactions'}}
                        {{/link-to}}
                        {{#link-to 'google.comments' classNames='item'}}
                        {{I18n "comments"}}
                        {{/link-to}}
                        {{#link-to 'google.privacy' classNames='item'}}
                        {{I18n 'privacy-settings'}}
                        {{/link-to}}
                    </div>
                </div>
                <div class="header item">
                    <i class="help icon"></i>
                    {{I18n 'help'}}
                </div>
                {{#link-to 'about' classNames='item'}}
                {{I18n 'about'}}<i class="info letter icon"></i>
                {{/link-to}}
                {{#link-to 'documentation' classNames='item'}}
                {{I18n 'documentation'}}<i class="text file icon"></i>
                {{/link-to}}
            </div>
        </div>
        <div class="fluid eleven wide column">
            <div id="outlet" class="ui segment">
                {{outlet}}
            </div>
        </div>
    </div>
</div>
