<h2 class="ui dividing header">
  <i class="info icon"></i>
  <div class="content">
    {{t "about.title"}}
    <div class="sub header">{{t "about.subtitle"}}</div>
  </div>
</h2>

<p>
  {{t "about.description"}}
</p>

<div class="ui divider"></div>

{{t "about.developedBy"}}

<p>Oliver Hoffmann, Sebastian Ruhleder {{t "and"}} Felix Epp</p>

<div class="ui basic segment">
  <address>
    <strong>{{t "about.address.name"}}</strong><br/>
    {{t "about.address.street"}}<br/>
    64295 Darmstadt<br/>
    {{t "about.address.country"}}
  </address>
</div>
<p>
  {{t "about.forQuestions"}} <a href="mailto: andreas.poller@ sit.fraunhofer.de">Andreas Poller, andreas.poller@sit.fraunhofer.de</a>
</p>

<div class="ui divider"></div>

<p>
  {{t "about.licenceNotice"}}
</p>
