{{#if settings.user.firstRun}}

{{installation-wizard cancel="cancelWizard" onsuccess="saveConfig"}}

{{else}}

<div class="ui page grid">
  <div class="four wide column">
    {{partial "sidebar-menu"}}
  </div>

  <div class="twelve wide column">
    <div class="ui segment">
      {{outlet}}
    </div>
  </div>
</div>

{{outlet 'modal'}}

{{/if}}
