<h2 class="ui dividing header">
  <i class="download icon"></i>
  <div class="content">
    {{t "backup.title"}}
    <div class="sub header">{{t "backup.subtitle"}}</div>
  </div>
</h2>

<div class="ui form">
  <div class="field">
    <label>{{t "backup.resetData"}}</label>
    <p>{{t "backup.resetDataLabel"}}</p>

    <button class="ui primary button" {{action "openModal" "reset-data"}}>
      {{t "action.reset"}}
    </button>
  </div>

  <div class="field">
    <label>{{t "backup.export"}}</label>
    <p>{{t "backup.exportLabel"}}</p>
    {{textarea readonly=true value=jsonData}}
    <div></div>

  </div>
  <button class="ui primary button" {{action "download"}}>
    {{t "action.download"}}
  </button>
</div>

{{partial "modal/reset-data"}}
