<h2 class="ui dividing header">
  <i class="settings icon"></i>
  <div class="content">
    {{t "extracts.title"}}
    <div class="sub header">{{t "extracts.subtitle"}}</div>
  </div>
</h2>

{{#if pagedContent}}
  {{page-numbers  content=pagedContent
                  numPagesToShow=5
                  showFL=true}}
{{/if}}

<div class="ui comments">
  {{#each pagedContent as |extract|}}
    {{#unless extract.isDeleted}}
    {{rose-extract model=extract}}
    {{/unless}}
  {{else}}
    {{no-data-message}}
  {{/each}}
</div>
