<h2 class="ui dividing header">
  <i class="question icon"></i>
  <div class="content">
    {{t "help.title"}}
    <div class="sub header">{{t "help.subtitle"}}</div>
  </div>
</h2>

{{#ui-accordion}}

  <div class="title">
    <i class="dropdown icon"></i>
    {{t "help.issue1.question"}}
  </div>
  <div class="content">
    <p>{{{t "help.issue1.answer"}}}</p>
  </div>

  <div class="title">
    <i class="dropdown icon"></i>
    {{t "help.issue2.question"}}
  </div>
  <div class="content">
    <p>{{{t "help.issue2.answer"}}}</p>
  </div>

  <div class="title">
    <i class="dropdown icon"></i>
    {{t "help.issue3.question"}}
  </div>
  <div class="content">
    <p>{{{t "help.issue3.answer"}}}</p>
  </div>

  <div class="title">
    <i class="dropdown icon"></i>
    {{t "help.issue4.question"}}
  </div>
  <div class="content">
    <p>{{{t "help.issue4.answer"}}}</p>
  </div>

  <div class="title">
    <i class="dropdown icon"></i>
    {{t "help.issue5.question"}}
  </div>
  <div class="content">
    <p>{{{t "help.issue5.answer"}}}</p>
  </div>

  <div class="title">
    <i class="dropdown icon"></i>
    {{t "help.issue6.question"}}
  </div>
  <div class="content">
    <p>{{{t "help.issue6.answer"}}}</p>
  </div>

  <div class="title">
    <i class="dropdown icon"></i>
    {{t "help.issue7.question"}}
  </div>
  <div class="content">
    <p>{{{t "help.issue7.answer"}}}</p>
  </div>

  <div class="title">
    <i class="dropdown icon"></i>
    {{t "help.issue8.question"}}
  </div>
  <div class="content">
    <p>{{{t "help.issue8.answer"}}}</p>
  </div>

{{/ui-accordion}}
