<h2 class="ui dividing header">
  <i class="question icon"></i>
  <div class="content">
    {{t "help.title"}}
    <div class="sub header">{{t "help.subtitle"}}</div>
  </div>
</h2>

<h4>{{t "help.issue1.question"}}</h4>
{{{t "help.issue1.answer"}}}

<h4>{{t "help.issue2.question"}}</h4>
{{{t "help.issue2.answer"}}}

<h4>{{t "help.issue3.question"}}</h4>
{{{t "help.issue3.answer"}}}

<h4>{{t "help.issue4.question"}}</h4>
{{{t "help.issue4.answer"}}}

<h4>{{t "help.issue5.question"}}</h4>
{{{t "help.issue5.answer"}}}

<h4>{{t "help.issue6.question"}}</h4>
{{{t "help.issue6.answer"}}}

<h4>{{t "help.issue7.question"}}</h4>
{{{t "help.issue7.answer"}}}

<h4>{{t "help.issue8.question"}}</h4>
{{{t "help.issue8.answer"}}}
