<h1 class="ui dividing header">
    <i class="dashboard icon"></i>
    <div class="content">
        {{t "index.title"}}
        <div class="sub header">{{t "index.subtitle"}}</div>
    </div>
</h1>

<div class="ui form {{updateResult}}">
    <h3 class="ui center aligned icon header">
      <i class="power icon"></i>
      {{t "index.trackingEnabledHeader"}}
    </h3>
    <div class="fields">
        <div class="four wide field"></div>
        <div class="eight wide field">
            {{ui-checkbox class="toggle"
                          checked=settings.user.trackingEnabled
                          label=trackingEnabledLabel
                          onChange=(action "toggleTracking")}}
        </div>
    </div>
</div>

<div class="ui divider"></div>

<table class="ui celled definition table">
  <thead>
    <tr>
      <th></th>
{{#each networks as |network|}}
      <th>
        <i class="{{network.name}} icon"></i> {{network.descriptiveName}}
      </th>
{{/each}}
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{t "index.comments"}}</td>
{{#each networks as |network|}}
      {{statistic-item network=network.name data=model.comments type="comments"}}
{{/each}}
    </tr>
    <tr>
      <td>{{t "index.interactions"}}</td>
{{#each networks as |network|}}
      {{statistic-item network=network.name data=model.interactions type="interactions"}}
{{/each}}
    </tr>
    <tr>
      <td>{{t "index.extracts"}}</td>
{{#each networks as |network|}}
      {{statistic-item network=network.name data=model.extracts type="extracts"}}
{{/each}}
    </tr>
    <tr>
      <td>{{t "index.clicks"}}</td>
{{#each networks as |network|}}
      {{statistic-item network=network.name data=model.clicks type="clicks"}}
{{/each}}
    </tr>
    <tr>
      <td>{{t "index.scroll"}}</td>
{{#each networks as |network|}}
      {{statistic-item network=network.name data=model.scroll type="scroll"}}
{{/each}}
    </tr>
    <tr>
      <td>{{t "index.mousemoves"}}</td>
{{#each networks as |network|}}
      {{statistic-item network=network.name data=model.mousemoves type="mousemoves"}}
{{/each}}
    </tr>
    <tr>
      <td>{{t "index.logins"}}</td>
{{#each networks as |network|}}
      {{statistic-item network=network.name data=model.logins type="logins"}}
{{/each}}
    </tr>
    <tr>
      <td>{{t "index.windows"}}</td>
{{#each networks as |network|}}
      {{statistic-item network=network.name data=model.windows type="windows"}}
{{/each}}
    </tr>
  </tbody>
</table>
