<h1 class="ui dividing header">
    <i class="dashboard icon"></i>
    <div class="content">
        {{t "index.title"}}
        <div class="sub header">{{t "index.subtitle"}}</div>
    </div>
</h1>

{{#each networks as |network|}}
<div class="ui four statistics" style="margin-top:2em; margin-bottom: -1em;">
    <div class="statistic">
        <div class="value">
            <i class="{{network.name}} icon"></i>
        </div>
        <div class="label">
            {{network.descriptiveName}}
        </div>
    </div>
    {{statistic-item label="Comments" network=network.name data=model.comments}}
    {{statistic-item label="Interactions" network=network.name data=model.interactions}}
    {{statistic-item label="Extracts" network=network.name data=model.extracts}}
</div>
{{/each}}

<div class="ui form {{updateResult}}">
    <div class="field">
        <label>{{t "settings.trackingEnabled"}}</label>
        <p>{{t "settings.trackingEnabledLabel"}}</p>
        {{ui-checkbox class="toggle"
                      checked=settings.system.trackingEnabled
                      label=(boolean-to-yesno settings.system.trackingEnabled)
                      onChange=(action "toggleTracking")}}
    </div>
</div>
