<h1 class="ui dividing header">
    <i class="dashboard icon"></i>
    <div class="content">
        {{t "index.title"}}
        <div class="sub header">{{t "index.subtitle"}}</div>
    </div>
</h1>

<div class="ui form {{updateResult}}">
    <h3 class="ui center aligned icon header">
      <i class="power icon"></i>
      {{t "index.trackingEnabledHeader"}}
    </h3>
    <div class="fields">
        <div class="four wide field"></div>
        <div class="eight wide field">
            {{ui-checkbox class="toggle"
                          checked=settings.user.trackingEnabled
                          label=trackingEnabledLabel
                          onChange=(action "toggleTracking")}}
        </div>
    </div>
</div>

<div class="ui divider"></div>

<table class="ui compact small celled definition table">
  <thead>
    <tr>
      <th></th>
      <th>{{t "index.comments"}}</th>
      <th>{{t "index.interactions"}}</th>
      <th>{{t "index.extracts"}}</th>
      <th>{{t "index.clicks"}}</th>
      <th>{{t "index.scroll"}}</th>
      <th>{{t "index.mousemoves"}}</th>
      <th>{{t "index.logins"}}</th>
      <th>{{t "index.windows"}}</th>
    </tr>
  </thead>
  <tbody>
{{#each networks as |network|}}
    <tr>
      <td class="collapsing">
        <i class="{{network.name}} icon"></i> {{network.descriptiveName}}
      </td>
      {{statistic-item network=network.name data=model.comments type="comments"}}
      {{statistic-item network=network.name data=model.interactions type="interactions"}}
      {{statistic-item network=network.name data=model.extracts type="extracts"}}
      {{statistic-item network=network.name data=model.clicks type="clicks"}}
      {{statistic-item network=network.name data=model.scroll type="scroll"}}
      {{statistic-item network=network.name data=model.mousemoves type="mousemoves"}}
      {{statistic-item network=network.name data=model.logins type="logins"}}
      {{statistic-item network=network.name data=model.windows type="windows"}}
    </tr>
{{/each}}
  </tbody>
</table>
