<h2 class="ui dividing header">
  <i class="settings icon"></i>
  <div class="content">
    {{t "interactions.title"}}
    <div class="sub header">{{t "interactions.subtitle"}}</div>
  </div>
</h2>

<div class="ui comments">
  {{#each sortedList as |interaction|}}
    {{#unless interaction.isDeleted}}
    {{rose-interaction model=interaction}}
    {{/unless}}
  {{else}}
    {{no-data-message}}
  {{/each}}
</div>
