<h2 class="ui dividing header">
  <i class="settings icon"></i>
  <div class="content">
    {{t "settings.title"}}
    <div class="sub header">{{t "settings.subtitle"}}</div>
  </div>
</h2>

<div class="ui form">
  <div class="field">
    <label>{{t "settings.language"}}</label>
    <p>{{t "settings.languageLabel"}}</p>
    {{ui-dropdown class="ui selection dropdown"
                    value=settings.user.currentLanguage
                    content=availableLanguages
                    optionLabelPath="content.language"
                    optionValuePath="content.code"}}
  </div>

  <div class="field">
    <label>{{t "settings.commentReminder"}}</label>
    <p>{{t "settings.commentReminderLabel"}}</p>
    {{ui-checkbox class="toggle"
                  checked=settings.user.commentReminderIsEnabled
                  label=(boolean-to-yesno settings.user.commentReminderIsEnabled)
                  action="saveSettings"}}
  </div>

  <div class="field">
    <label>{{t "settings.extraFeatures"}}</label>
    <p>{{t "settings.extraFeaturesLabel"}}</p>
    {{ui-checkbox class="toggle"
                  checked=settings.user.developerModeIsEnabled
                  label=(boolean-to-yesno settings.user.developerModeIsEnabled)
                  action="saveSettings"}}
  </div>

  <div class="field">
    <label>{{t "settings.manualUpdate"}}</label>
    <p>{{t "settings.manualUpdateLabel"}}</p>
    <button class="ui button" {{action "manualUpdate"}}>{{t "action.update"}}</button>
    Last Update: {{moment settings.system.timestamp}}
  </div>

  <div class="field">
    <label>{{t "settings.autoUpdate"}}</label>
    <p>{{t "settings.autoUpdateLabel"}}</p>
    {{ui-checkbox class="toggle"
                  checked=settings.system.autoUpdateIsEnabled
                  label=(boolean-to-yesno settings.system.autoUpdateIsEnabled)
                  action="saveSettings"}}
  </div>

  <div class="field">
    <label>{{t "settings.resetRose"}}</label>
    <p>{{t "settings.resetRoseLabel"}}</p>
    <button class="ui red button" {{action "confirm"}}>{{t "action.reset"}}</button>
  </div>
</div>
