<h2 class="ui dividing header">
  <i class="settings icon"></i>
  <div class="content">
    {{t "settings.title"}}
    <div class="sub header">{{t "settings.subtitle"}}</div>
  </div>
</h2>

<div class="ui form {{updateResult}}">
  <div class="field">
    <label>{{t "settings.language"}}</label>
    <p>{{t "settings.languageLabel"}}</p>

    {{#ui-dropdown  class="selection"
                    selected=settings.user.currentLanguage
                    onChange=(action "changeI18nLanguage")}}
      <div class="default text">{{t "settings.language"}}</div>
      <input type="hidden" name="interval" value={{settings.user.currentLanguage}} />
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each availableLanguages as |language|}}
          <div class="item" data-value={{language.code}}>
            {{language.name}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </div>

  <div class="field">
    <label>{{t "settings.commentReminder"}}</label>
    <p>{{t "settings.commentReminderLabel"}}</p>
    {{ui-checkbox class="toggle"
                  checked=settings.user.commentReminderIsEnabled
                  label=(boolean-to-yesno settings.user.commentReminderIsEnabled)
                  onChange=(action "saveSettings")}}
  </div>


  <div class="field">
    <label>{{t "settings.extraFeatures"}}</label>
    <p>{{t "settings.extraFeaturesLabel"}}</p>
    {{ui-checkbox class="toggle"
                  checked=settings.user.developerModeIsEnabled
                  label=(boolean-to-yesno settings.user.developerModeIsEnabled)
                  onChange=(action "saveSettings")}}
  </div>

  <div class="field manualUpdate">
    <label>{{t "settings.manualUpdate"}}</label>
    <p>{{t "settings.manualUpdateLabel"}}</p>
    {{#if navigator.onLine}}
    <button class="ui {{if updateInProgress "loading"}} button" {{action "manualUpdate"}}>{{t "action.update"}}</button>
    {{else}}
    <div class="ui disabled labeled button" tabindex="0">
      <div class="ui button">{{t "action.update"}}</div>
      <a class="ui basic label">{{t "settings.noInternetConnection"}}</a>
    </div>
    {{/if}}

    <a class="ui label">
      {{t "settings.lastChecked"}}
      <div class="detail">
        {{#if settings.system.lastChecked}}
          {{moment-format settings.system.lastChecked 'YYYY-MM-DD HH:mm'}}
        {{else}}
          {{t "settings.never"}}
        {{/if}}
      </div>
    </a>

    <a class="ui label">
      {{t "settings.lastUpdated"}}
      <div class="detail">
        {{#if settings.system.lastUpdated}}
          {{moment-format settings.system.lastUpdated 'YYYY-MM-DD HH:mm'}}
        {{else}}
          {{t "settings.never"}}
        {{/if}}
      </div>
    </a>

    <a class="ui {{if updateSigned "green"}} label">
      <i class="{{if updateSigned "lock" "unlock alternate"}} icon"></i>
        {{#if updateSigned}}
          {{t "settings.signedUpdate"}}
        {{else}}
          {{t "settings.unsignedUpdate"}}
        {{/if}}
    </a>

    {{#if updateResult}}
    <div class="ui {{updateResult}} message hidden">
      <i class="close icon" onclick={{action "closeMessage"}}></i>
      <div class="header">{{t updateResulti18n}}</div>
      <p>{{updateMessage}}</p>
    </div>
    {{/if}}
  </div>

  <div class="field">
    <label>{{t "settings.autoUpdate"}}</label>
    <p>{{t "settings.autoUpdateLabel"}}</p>
    {{ui-checkbox class="toggle"
                  checked=settings.system.autoUpdateIsEnabled
                  label=(boolean-to-yesno settings.system.autoUpdateIsEnabled)
                  onChange=(action "changeAutoUpdate")}}
  </div>

  {{#if settings.system.autoUpdateIsEnabled}}
  <div class="field">
    <label>{{t "settings.autoUpdateInterval"}}</label>
    <p>{{t "settings.autoUpdateIntervalLabel"}}</p>

    {{#ui-dropdown  class="selection"
                    selected=settings.system.updateInterval
                    onChange=(action "changeAutoUpdate")}}
      <div class="default text">Select an interval</div>
      <input type="hidden" name="interval" value={{settings.system.updateInterval}} />
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each updateIntervals as |interval|}}
          <div class="item" data-value={{interval.value}}>
            {{t interval.label}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </div>
  {{/if}}

  <div class="field">
    <label>{{t "settings.resetRose"}}</label>
    <p>{{t "settings.resetRoseLabel"}}</p>
    <button class="ui red button" {{action "openModal" "reset-config"}}>
      {{t "action.reset"}}
    </button>
  </div>
</div>

{{partial "modal/reset-config"}}
