<div class="ui vertical menu">
  {{#link-to "index" class="header item"}}
    ROSE
  {{/link-to}}
  {{#link-to "diary" class="item"}}
    {{t "sidebarMenu.diary"}}
  {{/link-to}}
  {{#link-to "backup" class="item"}}
    {{t "sidebarMenu.backup"}}
  {{/link-to}}
  {{#link-to "settings" class="item"}}
    {{t "sidebarMenu.settings"}}
  {{/link-to}}

  <div class="header item">
    {{t "sidebarMenu.networks"}}
  </div>

  {{#each networks as |network|}}
    <div class="item">
      {{network.descriptiveName}}
      <div class="menu">
        {{#link-to "comments" network.name class="item"}}
          {{t "sidebarMenu.comments"}}
        {{/link-to}}
        {{#link-to "interactions" network.name class="item"}}
          {{t "sidebarMenu.interactions"}}
        {{/link-to}}
        {{#link-to "privacysettings" network.name class="item"}}
          {{t "sidebarMenu.privacySettings"}}
        {{/link-to}}
      </div>
    </div>
  {{/each}}

  <div class="header item">
    {{t "sidebarMenu.more"}}
  </div>
  {{#liquid-if settings.user.developerModeIsEnabled}}
    <div class="item">
      {{t "sidebarMenu.extraFeatures"}}
      <div class="menu">
        {{#link-to "study-creator" class="item"}}
          {{t "sidebarMenu.studyCreator"}}
        {{/link-to}}
        {{#link-to "debug-log" class="item"}}
          {{t "sidebarMenu.debugLog"}}
        {{/link-to}}
      </div>
    </div>
  {{/liquid-if}}
  {{#link-to "help" class="item"}}
    {{t "sidebarMenu.help"}}
  {{/link-to}}
  {{#link-to "about" class="item"}}
    {{t "sidebarMenu.about"}}
  {{/link-to}}
</div>
