<h2 class="ui dividing header">
  <i class="lab icon"></i>
  <div class="content">
    {{t "studyCreator.title"}}
    <div class="sub header">{{t "studyCreator.subtitle"}}</div>
  </div>
</h2>

<div class="ui form">
  <div class="field">
    <label>{{t "studyCreator.roseComments"}}</label>
    <p>{{t "studyCreator.roseCommentsDesc"}}</p>

    {{ui-checkbox checked=model.roseCommentsIsEnabled
                  class="toggle"
                  label=(boolean-to-yesno model.roseCommentsIsEnabled)
                  action="saveSettings"}}
  </div>

  <div class="field">
    <label>{{t "studyCreator.roseCommentsRating"}}</label>
    <p>{{t "studyCreator.roseCommentsRatingDesc"}}</p>

    {{ui-checkbox checked=model.roseCommentsRatingIsEnabled
                  class="toggle"
                  label=(boolean-to-yesno model.roseCommentsRatingIsEnabled)
                  action="saveSettings"}}
  </div>

  <div class="field">
    <label>{{t "studyCreator.salt"}}</label>
    <p>{{t "studyCreator.saltDesc"}}</p>

    {{input type="text"
            value=model.salt
            insert-newline="saveSettings"
            focus-out="saveSettings"}}
  </div>

  <div class="field">
    <label>{{t "studyCreator.hashLength"}}</label>
    <p>{{t "studyCreator.hashLengthDesc"}}</p>

    {{input type="number"
            value=model.hashLength
            insert-newline="saveSettings"
            focus-out="saveSettings"}}
  </div>

  <div class="field">
    <label>{{t "studyCreator.repositoryUrl"}}</label>
    <p>{{t "studyCreator.repositoryUrlDesc"}}</p>

    <div class="ui action input">
      {{input type="text" value=model.repositoryUrl insert-newline="fetchBaseFile"}}

      <button class="ui icon button {{if baseFileIsLoading "loading"}}" {{action "fetchBaseFile"}}>
        <i class="search icon"></i>
      </button>
    </div>
  </div>

  <div class="field">
    <label>Networks</label>
    <p>asdfasdfasdfasdfasdf</p>

    {{#each model.networks as |network|}}
      {{#if network.isLoaded}}
      <div class="field">
        {{ui-checkbox checked=network.isEnabled
                      class="toggle"
                      label=network.name
                      action="saveNetworkSettings"
                      value=network}}
      </div>
      {{/if}}
    {{/each}}
  </div>

  <div class="field">
    <label>{{t "studyCreator.autoUpdate"}}</label>
    <p>{{t "studyCreator.autoUpdateDesc"}}</p>

    {{ui-checkbox checked=model.autoUpdateIsEnabled
                  class="toggle"
                  label=(boolean-to-yesno model.autoUpdateIsEnabled)
                  action="saveSettings"}}
  </div>

  <div class="field">
    <label>{{t "studyCreator.exportConfig"}}</label>
    <p>{{t "studyCreator.exportConfigDesc"}}</p>

    {{input value=model.fileName
            insert-newline="saveSettings"
            focus-out="saveSettings"}}
  </div>

  <button class="ui primary button" {{action "download"}}>
    {{t "action.download"}}
  </button>
</div>
