<h2 class="ui dividing header">
  <i class="lab icon"></i>
  <div class="content">
    {{t "studyCreator.title"}}
    <div class="sub header">{{t "studyCreator.subtitle"}}</div>
  </div>
</h2>

<div class="ui form">
  <h3 class="ui dividing header">{{t "studyCreator.configurationHeader"}}</h3>

  <div class="field">
    <label>{{t "studyCreator.repositoryUrl"}}</label>
    <p>{{t "studyCreator.repositoryUrlDesc"}}</p>

    <div class="ui input">
      {{input type="text"
              value=model.repositoryURL
              insert-newline="fetchBaseFile"}}
    </div>

    {{#if baseFileNotFound}}
    <div class="ui pointing red basic label">
      {{t "studyCreator.baseFileNotFound"}}
    </div>
    {{/if}}
  </div>

  <div class="field">
    <button class="ui icon button {{if baseFileIsLoading "loading"}}" {{action "fetchBaseFile"}}>
      <i class="cloud download icon"></i>
      {{t "studyCreator.fetchRepository"}}
    </button>
  </div>

  <div class="field">
    {{#if networks.length}}
    <label>{{t "studyCreator.networks"}}</label>
    <p>{{t "studyCreator.networksDesc"}}</p>
    {{/if}}
    {{#each networks as |network|}}
      <div class="field">
        {{ui-checkbox checked=network.isEnabled
                      class="toggle"
                      label=network.descriptiveName
                      value=network}}
        {{#if network.isEnabled}}
        <div class="ui field" style="padding-top: 15px;">
          <label>
            {{t "studyCreator.patterns"}}
          </label>
          <table class="ui small compact table">
            <thead class="full-width">
              <tr>
                <th>{{t "studyCreator.table.enabled"}}</th>
                <th>{{t "studyCreator.table.name"}}</th>
                <th>{{t "studyCreator.table.description"}}</th>
                <th>{{t "studyCreator.table.type"}}</th>
                <th>{{t "studyCreator.table.version"}}</th>
              </tr>
            </thead>
            <tbody>
            {{#each network.observers as |observer|}}
              <tr>
                <td class="collapsing">
                  {{ui-checkbox class="fitted toggle" checked=observer.isEnabled}}
                </td>
                <td><strong>{{observer.name}}</strong></td>
                <td>{{observer.description}}</td>
                <td>{{t observer.type}}</td>
                <td>{{observer.version}}</td>
              </tr>
            {{/each}}

            {{#each network.extractors as |extractor|}}
              {{#if extractor.type}}
              <tr>
                <td class="collapsing">
                  {{ui-checkbox class="fitted toggle" checked=extractor.isEnabled}}
                </td>
                <td><strong>{{extractor.name}}</strong></td>
                <td>{{extractor.description}}</td>
                <td>{{t extractor.type}}</td>
                <td>{{extractor.version}}</td>
              </tr>
              {{/if}}
            {{/each}}
            </tbody>
            <tfoot class="full-width">
              <tr>
                <th colspan="5">
                  <button class="ui small green button" {{action "enableAll" network}}>{{t "studyCreator.enableAll"}}</button>
                  <button class="ui small basic button" {{action "disableAll" network}}>{{t "studyCreator.disableAll"}}</button>
                </th>
              </tr>
            </tfoot>
          </table>
        </div>
      {{/if}}
      </div>
    {{/each}}
  </div>

  <h3 class="ui dividing header">{{t "studyCreator.autoUpdateHeader"}}</h3>

  <div class="field">
    <label>{{t "studyCreator.autoUpdate"}}</label>
    <p>{{t "studyCreator.autoUpdateDesc"}}</p>

    {{ui-checkbox checked=model.autoUpdateIsEnabled
                  class="toggle"
                  label=(boolean-to-yesno model.autoUpdateIsEnabled)
                  onChange=(action "saveSettings")}}
  </div>

  <div class="{{unless model.autoUpdateIsEnabled "disabled "}}field">
    <label>{{t "studyCreator.forceSecureUpdate"}}</label>
    <p>{{t "studyCreator.forceSecureUpdateDesc"}}</p>

    {{ui-checkbox checked=model.forceSecureUpdate
                  class="toggle"
                  label=(boolean-to-yesno model.forceSecureUpdate)
                  onChange=(action "toggleForceSecureUpdate")}}
  </div>

  <div class="{{if secureUpdateDisabled "disabled "}}field">
    <label>{{t "studyCreator.fingerprint"}}</label>
    <p>{{t "studyCreator.fingerprintDesc"}}</p>

    <div class="ui input">
      {{input type="text"
              value=model.fingerprint
              insert-newline="saveSettings"
              focus-out="saveSettings"}}
    </div>
  </div>

  <div class="{{unless model.autoUpdateIsEnabled "disabled "}}field">
    <label>{{t "studyCreator.updateInterval"}}</label>
    <p>{{t "studyCreator.updateIntervalLabel"}}</p>

    {{#ui-dropdown  class="selection"
                    selected=model.updateInterval
                    onChange=(action 'saveSettings')}}
      <div class="default text">Select an interval</div>
      <input type="hidden" name="interval" value={{model.updateInterval}} />
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each updateIntervals as |interval|}}
          <div class="item" data-value={{interval.value}}>
            {{t interval.label}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </div>

  <h3 class="ui dividing header">{{t "studyCreator.privacyHeader"}}</h3>

  <div class="field">
    <label>{{t "studyCreator.salt"}}</label>
    <p>{{t "studyCreator.saltDesc"}}</p>

    <div class="ui action input">
      {{input type="text"
              value=model.salt
              insert-newline="saveSettings"
              focus-out="saveSettings"}}

      <button class="ui button" {{action "generateSalt"}}>
        {{t "studyCreator.generateSaltButton"}}
      </button>
    </div>
  </div>

  <div class="field">
    <label>{{t "studyCreator.hashLength"}}</label>
    <p>{{t "studyCreator.hashLengthDesc"}}</p>

    {{input type="number"
            value=model.hashLength
            insert-newline="saveSettings"
            focus-out="saveSettings"}}
  </div>

  <h3 class="ui dividing header">{{t "studyCreator.optionalFeaturesHeader"}}</h3>
  <div class="field">
    <label>{{t "studyCreator.roseComments"}}</label>
    <p>{{t "studyCreator.roseCommentsDesc"}}</p>

    {{ui-checkbox checked=model.roseCommentsIsEnabled
                  class="toggle"
                  label=(boolean-to-yesno model.roseCommentsIsEnabled)
                  onChange=(action "saveSettings")}}
  </div>

  <div class="{{unless model.roseCommentsIsEnabled "disabled "}}field">
    <label>{{t "studyCreator.roseCommentsRating"}}</label>
    <p>{{t "studyCreator.roseCommentsRatingDesc"}}</p>

    {{ui-checkbox checked=model.roseCommentsRatingIsEnabled
                  class="toggle"
                  label=(boolean-to-yesno model.roseCommentsRatingIsEnabled)
                  onChange=(action "saveSettings")}}
  </div>

  <h3 class="ui dividing header">{{t "studyCreator.exportConfig"}}</h3>
  <div class="field">
    <p>{{t "studyCreator.exportConfigDesc"}}</p>

    {{input value=model.fileName
            insert-newline="saveSettings"
            focus-out="saveSettings"}}
  </div>

  <button class="ui primary button" {{action "download"}}>
    {{t "action.download"}}
  </button>
</div>
